.countries {
  display: flex;
}

/* Add your own CSS code below */
body{background-color: rgb(31, 26, 65);}
:is(h1, h2, h3, p) {color: white;}
ul {
    list-style-type: none;
  }
.countries--first {
  justify-content: flex-end;
  align-items: flex-end;
}

.countries--second {
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-end;
}

.countries--third {
  
  justify-content: center;
  align-items: flex-start;
}
ul.countries--third > li.country--brazil{
  align-self: flex-end;
  align-content: flex-end;
}

.countries--fourth {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
ul.countries--fourth > li.country--ethiopia{
  align-self: center;
}
ul.countries--fourth > li.country--laos{
  align-self: center;
}

.countries--fifth {
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: flex-end;
}
ul.countries--fifth > li.country--laos{ order: 1;}
ul.countries--fifth > li.country--uganda{ 
  align-self: center;
}
.country {width: 100px;
  height: 30px;
  border: 1px solid rgb(209, 209, 216);
  
  padding-top: 8px;
  background-color: white;}
